<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-buttons class="buttons">
      <ion-button (click)="doLogin()">Login</ion-button>
      <ion-button (click)="doSignup()">Signup</ion-button>
    </ion-buttons>
  </ion-list>
</ion-content>
