<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <h1>Annunci</h1>

    <a (click)="goToProfile()">
      <img src="assets/images/goat_logo.png" alt="GOAT" class="hero-logo" />
    </a>
  </div>
</ion-header>

<ion-content fullscreen class="annunci-content">
  <!-- TOGGLE HEADER -->
  <div class="tabs-header">
    <button
      class="tab"
      [class.active]="activeTab === 'seguiti'"
      (click)="activeTab = 'seguiti'"
    >
      Annunci seguiti
    </button>

    <button
      class="tab"
      [class.active]="activeTab === 'pubblicati'"
      (click)="activeTab = 'pubblicati'"
    >
      Annunci pubblicati
    </button>
  </div>

  <button
    class="goat-btn-outline"
    (click)="goToAnnouncement()"
    style="margin: 20px 0"
  >
    Pubblica nuovo annuncio
  </button>

  <!-- CARD ANNUNCIO -->
  <div class="annuncio-card" *ngFor="let annuncio of annunci">
    <div class="annuncio-header">
      <h3>{{ annuncio.title }}</h3>
      <ion-icon name="school-outline" class="category-icon"></ion-icon>
    </div>

    <p class="meta">
      {{ annuncio.school }} - {{ annuncio.level }} - {{ annuncio.subject }} - {{
      annuncio.skill }}
    </p>

    <p class="description">{{ annuncio.description }}</p>

    <div class="annuncio-footer">
      <span class="info">
        {{ annuncio.hours }}h - {{ annuncio.seats }} posti - {{ annuncio.credits
        }} credits
      </span>

      <div class="actions">
        <ion-button fill="clear" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" color="success">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
