<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <h1>Annunci</h1>

    <a (click)="goToProfile()">
      <img src="assets/images/goat_logo.png" alt="GOAT" class="hero-logo" />
    </a>
  </div>
</ion-header>

<ion-content fullscreen class="annunci-content">
  <!-- TOGGLE HEADER -->
  <div class="tabs-header">
    <button
      class="tab"
      [class.active]="activeTab === 'seguiti'"
      (click)="switchTab('seguiti')"
    >
      Annunci seguiti
    </button>

    <button
      class="tab"
      [class.active]="activeTab === 'pubblicati'"
      (click)="switchTab('pubblicati')"
    >
      Annunci pubblicati
    </button>
  </div>

  <button
    class="goat-btn-outline"
    (click)="goToAnnouncement()"
    style="margin: 20px 0"
  >
    Pubblica nuovo annuncio
  </button>

  <!-- CARD ANNUNCIO -->
  <div class="request-card" *ngFor="let annuncio of annunci">
    <!-- HEADER -->
    <div class="card-header">
      <h2>{{ annuncio.title }}</h2>
    </div>

    <!-- META -->
    <div class="card-meta">{{ annuncio.subtitle }}</div>

    <!-- DESCRIPTION -->
    <div class="card-desc">{{ annuncio.description }}</div>

    <div class="divider"></div>

    <!-- FOOTER -->
    <div class="card-footer">
      <div class="info">
        {{ annuncio.duration_hours }}h – {{ annuncio.remaining_spots }} posti –
        {{ annuncio.credits }} GOAT Coins
      </div>

      <div class="actions">
        <ion-button
          *ngIf="activeTab === 'pubblicati'"
          color="danger"
          (click)="delete(annuncio.id)"
        >
          Elimina
        </ion-button>

        <ion-button
          *ngIf="activeTab === 'pubblicati'"
          color="warning"
          (click)="edit(annuncio.id)"
        >
          Modifica
        </ion-button>

        <ion-button
          *ngIf="activeTab === 'seguiti'"
          color="danger"
          (click)="leave(annuncio.id)"
        >
          Ritirati
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
