<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <a
      ><img src="assets/images/goat_logo.png" alt="GOAT" class="hero-logo"
    /></a>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-title class="header"
      >VUOI ESSERE IL GOAT? <br />
      ISCRIVITI</ion-title
    >
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        [(ngModel)]="name"
        autocomplete="name"
        class="input"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        autocomplete="email"
        class="input"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="pass"
        autocomplete="new-password"
        class="input"
      ></ion-input>
    </ion-item>

    @if (error.length!=0) {
    <div class="error">{{ error }}</div>
    }

    <div class="buttons">
      <ion-chip class="chip-mustard" (click)="doSignup()" [disabled]="loading">
        <ion-label style="color: white"
          >{{ loading ? 'Attendi…' : 'Crea account' }}</ion-label
        >
      </ion-chip>

      <ion-chip class="chip-mustard-outline" (click)="goLogin()">
        <ion-label>Hai già un account? Login</ion-label>
      </ion-chip>
    </div>
  </ion-list>
</ion-content>
