<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <h1>Wallet</h1>

    <a (click)="goToProfile()">
      <img src="assets/images/goat_logo.png" alt="GOAT" class="hero-logo" />
    </a>
  </div>
</ion-header>
<ion-content fullscreen class="wallet-content">
  <!-- CARD CREDITI -->
  <div class="credit-card">
    <div class="credit-info">
      <div class="label"><strong>GOAT Coins</strong> disponibili:</div>
      <div class="amount">{{ credits | number }}</div>
    </div>
    <ion-button class="movements-btn" (click)="openMovements()">
      Movimenti
    </ion-button>

    <app-wallet-movements
      [open]="movementsOpen"
      [movements]="movements"
      (close)="movementsOpen = false"
    ></app-wallet-movements>
  </div>

  <!-- SEZIONE COUPON -->
  <div class="coupons-header">
    <h2>Coupons</h2>
  </div>

  <!-- LISTA COUPON -->
  <div class="coupon-card" *ngFor="let coupon of coupons">
    <div class="coupon-main">
      <h3>{{ coupon.title }}</h3>
      <p>{{ coupon.subtitle }}</p>
    </div>

    <div class="coupon-footer">
      <span class="price">{{ coupon.cost }} GOAT Coins</span>

      <button
        class="goat-btn-outline redeem-btn"
        [class.redeemed]="coupon.redeemed"
        [disabled]="coupon.redeemed || credits < coupon.cost || loadingCouponId === coupon.id"
        (click)="redeemCoupon(coupon)"
      >
        @if (loadingCouponId !== coupon.id) {<span>
          {{ coupon.redeemed ? 'Riscattato' : 'Riscatta' }}
        </span>
        } @else {<span class="spinner"></span>}
      </button>
    </div>
  </div>
</ion-content>
