<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <a (click)="goToHome()">&#8592;</a>
    <h1>Profilo <strong>GOAT</strong></h1>
  </div>
</ion-header>

<ion-content class="ion-padding page">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <h1>Nome</h1>
      <p>Ruolo</p>
    </ion-card-header>

    <ion-accordion-group class="acc-rounded">
      <ion-accordion class="acc-primary-outline">
        <ion-item slot="header" color="warning">
          <ion-label>GOAT Coins</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
