.hero-header {
  background: transparent;
  box-shadow: none;

  .hero-profile {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 27%;
    padding: 28px 20px 34px;
  }

  .back-btn {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .hero-title {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0;
    color: white;
  }
}

.error {
  color: var(--ion-color-danger);
  margin-top: 12px;
  text-align: center;
}

.success {
  color: var(--ion-color-success);
  margin-top: 12px;
  text-align: center;
  font-weight: bold;
}

.form-footer {
  padding: 20px 10px;
}
