<div class="card">
  <div class="card-header">
    <div class="titles">
      <h2>{{ data.title }}</h2>
      <div class="subtitle">{{ data.subtitle }}</div>
    </div>

    <div class="icon">
      <img [src]="'/assets/icons/' + data.icon + '.svg'" alt="" />
    </div>
  </div>

  @if (data.type === 'lastminute' && isToday()) {
  <div class="badge">Today</div>
  }

  <p class="description">
    {{ data.description }}
  </p>

  <div class="footer" [ngClass]="getTypeClass()">
    <div class="info">
      {{ data.duration_hours }}h – {{ data.remaining_spots }} posti –
      {{ data.credits }} credits
    </div>

    <button class="cta">
      {{ data.cta_label }}
    </button>
  </div>
</div>
