ion-header {
  background-color: var(--ion-color-primary);
}

.bottom-nav {
  --background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  position: absolute;
  bottom: 0;

  ion-tab-button {
    --color: #999;
    --color-selected: #ef4f4f;

    ion-icon {
      font-size: 20px;
    }

    ion-label {
      font-size: 11px;
      font-weight: 600;
    }
  }
}
