<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <h1>Benvenut@ in <strong>GOAT</strong></h1>
    <a (click)="goToProfile()"
      ><img src="assets/images/goat_logo.png" alt="GOAT" class="hero-logo"
    /></a>
  </div>

  <div class="tabs">
    <div class="tab active">Richieste</div>
    <div class="tab">Offerte</div>
    <div class="tab">Last minute</div>
  </div>
</ion-header>

<ion-content class="ion-padding page"> </ion-content>

<ion-footer class="bottom-nav">
  <ion-tab-bar>
    <ion-tab-button tab="home" selected>
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="annunci">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Annunci</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="match">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Match</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
