<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-button slot="end" fill="clear" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="composer">
    <ion-input placeholder="Nuovo item" [(ngModel)]="title"></ion-input>
    <ion-button (click)="add()">Aggiungi</ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let it of items">
      <ion-label>{{ it.title }}</ion-label>
      <ion-button slot="end" color="danger" fill="clear" (click)="remove(it)"
        >Del</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
