<ion-header class="hero-header">
  <div class="hero mustard-gradient">
    <a
      ><img src="assets/images/goat_logo.png" alt="GOAT" class="hero-logo"
    /></a>
  </div>
</ion-header>
<ion-content class="ion-padding">
  <form (ngSubmit)="doLogin()" autocomplete="on">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="email"
          autocomplete="email"
          inputmode="email"
          [(ngModel)]="email"
          name="email"
          required
          (keyup.enter)="doLogin()"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          type="password"
          autocomplete="current-password"
          [(ngModel)]="pass"
          name="password"
          required
          (keyup.enter)="doLogin()"
        >
        </ion-input>
      </ion-item>

      @if (errorMsg()) {
      <div class="error">{{ errorMsg() }}</div>
      }

      <div class="buttons" [class.loading]="loading()">
        <ion-chip
          class="chip-mustard"
          (click)="doLogin()"
          [disabled]="loading()"
          role="button"
          tabindex="0"
          aria-busy="{{loading()}}"
        >
          <ion-label style="color: white"
            >{{ loading() ? 'Accesso…' : 'Accedi' }}</ion-label
          >
        </ion-chip>

        <ion-chip
          class="chip-mustard-outline"
          (click)="goToSignup()"
          [disabled]="loading()"
          role="button"
          tabindex="0"
        >
          <ion-label>Non hai un account? Registrati</ion-label>
        </ion-chip>
      </div>
    </ion-list>
  </form>
</ion-content>
