ion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;

  background-color: var(--ion-color-primary);
  .goat {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
ion-content {
  display: flex;
  flex-direction: column;

  .header,
  ion-label {
    color: var(--ion-color-tertiary);
    font-weight: bold;
  }

  ion-list {
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-width: 520px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 20px;

    .buttons {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;

      ion-chip {
        width: 60%;
        max-width: 320px;
        padding: 0 10px;
      }

      ion-label {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .error {
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
}
