.tabs-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background: #f8f9fb;
  border-bottom: 1px solid #ececec;

  .tab {
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    opacity: 0.5;
    cursor: pointer;
    position: relative;

    &.active {
      opacity: 1;
      font-weight: 600;
    }

    &.active::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: #222;
    }
  }
}

.loading {
  padding: 2rem;
  text-align: center;
}
